<!DOCTYPE html>
<html lang="en">
<head>
    <title>Movie Collection</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css">
</head>



<body>
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <h5 class="text-white h4">Collapsed content</h5>
            <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Navbar</a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="MovieCollection">Movie Collection</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="AddMovies">Add Movies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="MyPodcasts">My Podcasts</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br />
    <h1 class="text-center display-3">@ViewBag.Title</h1>
    <br />
    <br />

    @RenderBody()

    <br />
    <br />
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Copyright 2021 - Fife Industries</a>
        </div>
    </nav>

</body>

</html>
